<body>
 <div class="container">
  <div class="row clearfix">
    <div class="col-md-2 column">
    </div>
    <div class="col-md-6 column">
    </div>
    <div class="col-md-4 column">
    </div>
  </div>
  <div class="row clearfix">
    <div class="col-md-12 column">
      <h2>
        The Challenge 
        <p>
          <%= link_to "Question", root_path, class: 'Question' %>
        </p>
      </h2>
  <div class="checkbox">
    <label>
      <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
      Answer 1 <%= link_to "Answer", root_path, class: 'answer'  %>
    </label>
  </div>
  <div class="checkbox">
    <label>
      <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2" checked>
      Answer 2 <%= link_to "Answer", root_path, class: 'answer'  %>
    </label>
  </div>
  <div class="checkbox">
    <label>
      <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3">
      Answer 3 <%= link_to "Answer", root_path, class: 'answer'  %>
    </label>
  </div>
    </div>
  </div>
  <div class="row clearfix">
    <div class="col-md-6 column">
      <%= link_to(image_tag("Ben_Stein.jpg", class: 'pix'), root_path) %>
      <h2>
        <%= link_to "User", root_path, class: 'user' %>
      </h2>
      <p>
        <%= link_to "User Stats", root_path, class: 'User' %>
      </p>
    </div>
    <div class="col-md-6 column">
      <%= link_to(image_tag("Boehner_2.png", class: 'pix'), root_path) %>
      <h2>
        <%= link_to "Congressman", root_path, class: 'Politician' %>
      </h2>
      <p>
        <%= link_to "Representative Stats", root_path, class: 'Politician' %>
      </p>
    </div>
  </div>
  <div class="row clearfix">
    <div class="col-md-4 column">
    </div>
    <div class="col-md-4 column">
    </div>
    <div class="col-md-4 column">
    </div>
</div> 
</body>