<h1>Politicians</h1>
<p>Meet your opponents</p>
<div>
  <ul>
    <li><%= link_to "Rep. John Boehner", politicians_path %></li>
    <li><%= link_to "Rep. Nancy Pelosi", politicians_path %></li>
    <li><%= link_to "Rep. Rand Paul", politicians_path %></li>
    <li><%= link_to "Rep. Carol Shea-Porter", politicians_path %></li>
    <li><%= link_to "Rep. Paul Ryan", politicians_path %></li>
    <li><%= link_to "Rep. Ron Johnson", politicians_path %></li>
    <li><%= link_to "Rep. Debbie Wasserman-Schultz", politicians_path %></li>
    <li><%= link_to "Rep. Michelle Bachman", politicians_path %></li>
  </ul>
</div>

